{% extends "base.html" %}
{% block title %}| Accueil {% endblock %}

{% block content %}
    <section class="container">
        <div class="text">
            Je m’appelle <strong>Fayçal Kamel</strong>  <em>- Naleck -</em>, j’ai 18 ans et je suis étudiant en classe préparatoire à l’Ecole Nationale Polytechnique d’Alger. <br /><br />
            Je suis passionné par les nouvelles technologies depuis mon plus jeune âge, et surtout par l’informatique (programmation, hardware, …) mais aussi par l’aéronotique (contrôle aérien, pilotage). <br /> <br />
            Ceci est mon site personnel où je publie divers articles sur différents sujets : études, informatique, jeux-vidéos… <br /> <br />
        </div>

        <div class="more">
            <a href="{% url 'blog:blog_index' %}">Consulter mon blog</a>
        </div>
    </section>
{% endblock %}