@charset "utf-8";

/**
 * Naleck (Fayçal Kamel)
 * <jkilodelta@gmail.com>
 */

body {
    font-family: "Calibri", "Tahoma", Arial, "sans-serif";
    font-size:14px;
    color:#fff;
    background:url("../img/bg.png") center no-repeat;
    background-size:cover;
}

body a {
    text-decoration:none;
    color:#39617b;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
}

body a:hover {
    color:#5895be;
}

header {
    background:url("../img/logo.png") center;
    height:50px;
    width:167px;
    margin:auto;
    margin-top:90px;
}

h2 {
    font-size:20px;
    color:#406984;
    margin-bottom:10px;
}

h3 {
    font-size:15px;
    color:#406984;
    margin-bottom:10px;
}

p {
    margin-bottom:10px;
}

strong { font-weight: bold; }
em { font-style:italic; }

ul {
    margin:15px;
}

li {
    list-style-type: circle;
}

img {
    border-radius:3px;
}

blockquote {
    background: #1D1D1D;
    border-left: 10px solid #131313;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style:italic;
}

blockquote:before {
    color: #131313;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

/**
 @ Navigation
 */
nav {
    background:#152630;
    font-size:19px;
    position:fixed;
    z-index:1;
    border-bottom:2px solid #1c3b50;
    width:100%;
}

nav ul {
    margin:0 0 0 20px;
    font-size:0;
}

nav ul li {
    display:inline-block;
    margin:0;
}

nav div#minlogo {
    background: url("../img/minlogo.png") no-repeat center;
    width: 50px;
    height: 47px;
    margin:5px 70px 5px 10px;
    display:inline-block;
}

@media all and (max-width: 800px) {
    nav div#minlogo {
        display:none;
    }
}

div .ib {
    display:inline-block;
}

nav ul li a {
    font-family:'Anivers-Regular';
    font-size:19px;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    display:block;
    padding:20px 20px;
    transition:all .2s;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
}

nav ul li a:hover, nav ul li a.selected {
    background:#1c3b50;
    color:#fff;
}



/**
 @ Main
 */
div #name {
    text-align:center;
    font-size:17px;
    font-family:'Anivers-Regular';
    margin-top:10px;
}

main section.container {
    background:#1a1a1a;
    width:80%;
    margin:auto;
    min-height:150px;
    margin-top:40px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:1px solid #151515;
    padding:15px;
}

main section h1 {
    font-family:'Anivers-Regular';
    font-size:25px;
    color:#406984;
    margin-bottom:10px;
}

main section div.more {
    text-align:right;
    margin-top:5px;
}

main section div.info {
    font-family:'Anivers-Regular';
    text-align:right;
    margin-bottom:10px;
}

main section div.comments {
    margin-top:10px;
}

main section div.blog_text {
    font-family:'Calibri';
}


main section#pagination {
    font-family:'Anivers-Regular';
    font-size:15px;
    text-align:center;
    margin:20px 10px;
}

.comment {
    border-bottom:2px solid #151515;
    margin-bottom:15px;
    margin-left:10px;
}

.comment blockquote {
    font-style: normal;
    quotes:none;
}

.comment:last-child { border:none; }

.comment .info-comment {
    font-style:italic;
    text-align:right;
    margin-top:10px;
}

.comment-form {
    border-bottom:2px solid #151515;
    margin-bottom:15px;
}

.pagination {
    text-align:center;
    margin-top:10px;
}

/**
 @ Footer
 */

footer {
    text-align:right;
    margin:auto;
    width:80%;
    margin-top:10px;
    margin-bottom:10px;
}

footer ul li {
    display:inline-block;
}

footer ul li a.twitter {
    display:block;
    background:url("../img/twitter.png") no-repeat;
    width:35px;
    height:29px;
}

footer ul li a:hover {
    background:url("../img/twitterhv.png") no-repeat;
}

/**
 @ Forms
 */
form table {
    width:80%;
    border-collapse: collapse;
    border-spacing:5px;
    margin:auto;
}

form table tr th {
    text-align:left;
    width:25%;
    vertical-align:middle;
}

form * { font-family: 'Calibri'; }

form input, form textarea {
    background:#f8f8f8;
    border:0;
    padding:4px 5px;
    width:80%;
    margin-bottom:10px;
}

form input[type="submit"] {
    background:#131313;
    color:#fff;
    width:40%;
    margin:auto;
    display:block;
}

form input[type="submit"]:hover {
    background:#090909;
    cursor:pointer;
}