/**
 * @license
 * MyFonts Webfont Build ID 3076090, 2015-08-15T17:29:40-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Anivers-Regular by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/anivers/regular/
 * Copyright: Copyright (c) 2008 by Jos Buivenga. All rights reserved.
 * Licensed pageviews: 1,000,010,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3076090
 * 
 * © 2015 MyFonts Inc
*/

  
@font-face {font-family: 'Anivers-Regular';src: url('../fonts/2EEFFA_0_0.eot');src: url('../fonts/2EEFFA_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2EEFFA_0_0.woff2') format('woff2'),url('../fonts/2EEFFA_0_0.woff') format('woff'),url('../fonts/2EEFFA_0_0.ttf') format('truetype');}
 