{% extends "blog/blog.html" %}
{% block title %}| {{ article.title }} {% endblock %}

{% block content %}
    <section class="container">
        <h1>{{ article.title }}</h1>

        <div class="info">
            par {{ article.author }} - {{ article.date|date:'d/m/Y à H:i' }} - dans la catégorie "<em>{{ article.category.name }}</em>"
        </div>

        <div class="blog_text">
            {{ article.content|safe }}
        </div>
    </section>

    {% if article.enable_comments %}
        <section class="container">
            <h1>Ajouter un commentaire</h1>
            <div class="comment-form">
               <form action="" method="post">
                   {% csrf_token %}
                   <table>
                       {{ form.as_table }}
                   </table>

                   <p><input type="submit" value="Commenter" /></p>
                </form>
            </div>

            <h1 id="comments">Commentaires {% if comments > 0 %}({{ comments.count }}) {% endif %}</h1>

            {% for comment in comments %}
                <div class="comment" id="comment{{ comment.pk }}">
                    <blockquote>
                        <div class="text-comment">
                            {{ comment.content|linebreaks }}
                        </div>

                        <div class="info-comment">
                            Par <strong>{{ comment.author }}</strong> le {{ comment.date|date:'d/m/Y à H:i' }}
                        </div>
                    </blockquote>
                </div>
            {% empty %}
                <p>Aucun commentaire.</p>
            {% endfor %}

            <div class="pagination">
                {% if comments.has_previous %}
                   <a href="{% url 'blog:blog_article' article.id article.slug comments.previous_page_number %}">&laquo;</a>
                {% endif %}

                Page {{ comments.number }} sur {{ comments.paginator.num_pages }}

                {% if comments.has_next %}
                    <a href="{% url 'blog:blog_article' article.id article.slug comments.next_page_number %}">&raquo;</a>
                {% endif %}
            </div>
        </section>
    {% endif %}
{% endblock %}