{% extends "blog/blog.html" %}
{% block title %}| Blog {% endblock %}

{% block content %}
    {% for article in articles %}
        <section class="container">
            <h1><a href="{% url 'blog:blog_article' article.id article.slug %}">{{ article.title }}</a></h1>
            <div class="info">
                par {{ article.author }} - {{ article.date|date:'d/m/Y à H:i' }} - dans la catégorie "<em>{{ article.category.name }}</em>"
            </div>

            <div class="blog_text">
                {{ article.content|truncatewords_html:60|safe }}
            </div>

            <div class="more">
                <a href="{% url 'blog:blog_article' article.id article.slug %}">Lire la suite</a>
            </div>

            {% if article.enable_comments %}
                <div class="comments">
                    <a href="{% url 'blog:blog_article' article.id article.slug %}#comments">
                        {% if article.get_nb_comments == 0 %}
                            Aucun
                        {% else %}
                            {{ article.get_nb_comments }}
                        {% endif %}
                        commentaire{% if article.get_nb_comments > 1 %}s{% endif %}
                    </a>
                </div>
            {% endif %}
        </section>
    {% empty %}
        <section class="container">
            Aucun article.
        </section>
    {% endfor %}

    {% include "pagination.html" with list=page_obj view='blog:blog_index' %}
{% endblock %}