{% load static %}
{% load naleck_extras %}
<html>
    <head>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>
            Fayçal Kamel - Naleck
            {% block title %}

            {% endblock %}
        </title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/webkitfont.css' %}">
        <link rel="stylesheet" href="{% static 'css/grid.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block spe_css %}{% endblock %}
    </head>
    <body>
        <div class="main-container">
            <nav class="grid-100">
                <a href="{% url 'home:home_index' %}"><div id="minlogo" class="grid-20"></div></a>
                <div class="grid-80 ib">
                    <ul>
                        <li><a href="{% url 'home:home_index' %}" {% nav_active request 'home' %}>Accueil</a></li>
                        <li><a href="{% url 'blog:blog_index' %}" {% nav_active request 'blog' %}>Blog</a></li>
                    </ul>
                </div>
            </nav>

            <div class="grid-container">
                <header></header>
                <div id="name">
                    {% block name_title %}
                        Fayçal Kamel
                    {% endblock %}
                </div>

                <main>
                    <div class="grid-100">
                        {% block content %}

                        {% endblock %}
                    </div>
                </main>

                <footer>
                    <ul>
                        <li><a href="https://twitter.com/Naleck_" class="twitter"></a></li>
                    </ul>
                </footer>
            </div>
        </div>

        {% block spe_js %}

        {% endblock %}
    </body>
</html>