<div class="pagination">
    {% if list.has_previous %}
       <a href="{% url view list.previous_page_number %}">&laquo;</a>
    {% endif %}

    Page {{ list.number }} sur {{ list.paginator.num_pages }}

    {% if list.has_next %}
        <a href="{% url view list.next_page_number %}">&raquo;</a>
    {% endif %}
</div>